---
import Stack from "./Stack.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const projects = await getCollection("projects");
---

<Stack />
<section class="mt-8">
  <div class="grid grid-cols-1 gap-6">
    {
      projects.map(async (project) => {
        const { slug, data } = project;
        const { title, where, stack, start, end, img, video, abstract } = data;
        return (
          <article class="flex flex-col md:flex-row p-6 rounded-lg shadow-md w-full max-h-[300px] overflow-hidden">
            <div class="md:w-1/3 flex-shrink-0">
              <Image
                src={`/${img}`}
                alt="A project"
                class="rounded-lg object-contain w-full h-full"
                width={300}
                height={300}
              />
            </div>
            <div class="md:w-1/3 p-4 overflow-hidden">
              <h3 class="text-2xl font-bold mb-2">{title}</h3>
              <p class="text-gray-600 mb-4">{where}</p>
              <div class="prose mb-4">{abstract}</div>
              <a
                href={`/projects/${slug}`}
                class="text-blue-500 hover:underline"
              >
                Read more
              </a>
            </div>
            <div class="md:w-1/3 p-4 overflow-hidden">
              <h4 class="text-xl font-bold mb-2">Stack</h4>
              <ul class="grid grid-cols-1 md:grid-cols-2 list-disc list-inside gap-2">
                {stack.map((tech: string) => (
                  <li>{tech}</li>
                ))}
              </ul>
            </div>
          </article>
        );
      })
    }
  </div>
</section>
